<div class="nav-side-right-menu">
  <div class="brand"> Key Metrics </div>
  <p>Number of active tables <%= @active_tables %></p>

  <p>Active orders <%= @active_orders.count %> </p>

  <p>Orders not yet paid <%= @orders_not_yet_paid.count %> </p>

  <% if @dangerous_orders.any? %>
    <p>ATTENTION : UNPAID ORDERS SINCE 40 min <%= @dangerous_orders.count %> </p>
    <ul>
      <% @dangerous_orders.each do |order| %>
        <li>Order at table <%= order.table.table_number %> </li>
      <% end %>
    </ul>
  <% end %>
</div>
