<div class="container text-center" style="margin: 20px">
  <p><u>Don't forget to resize your browser as your client will see this from a smartphone</u></p>
  <p>Here are the tables of the restaurant</p>
  <% @tables.each do |table| %>
  <%= link_to table.table_number, table_items_path(table), class: 'btn btn-info' %>
  <% end %>
</div>

<body>
  <div id="container">
    <div id="linetop" class="box"><h3>Restaurant Dashboard</h3></div>






    <div id="orderstat" class="column box">

      <h4>Pending Orders</h4>


      <div class="portlet order-card">
        <div class="portlet-header">Feeds</div>
        <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
      </div>


      <div class="portlet order-card">
        <div class="portlet-header">News</div>
        <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
      </div>
    </div>


    <div id="orderstat" class="column box"><h4>Orders in process</h4></div>
    <div id="orderstat" class="column box"><h4>Orders delivered</h4></div>
    <div id="orderstat" class="column box"><h4>Orders paid</h4></div>







    <div id="linebtm" class="box">

      <%= link_to "Table 1", "" , class: 'btn btn-reset' %>

      <%= link_to "Table 2", "" , class: 'btn btn-reset' %>

      <%= link_to "Table 3", "" , class: 'btn btn-reset' %>

      <%= link_to "Table 4", "" , class: 'btn btn-reset' %>

      <%= link_to "Table 5", "" , class: 'btn btn-reset' %>

      <%= link_to "Table 6", "" , class: 'btn btn-reset' %>

    </div>





  </div>
</body>
