
<body>
  <div id="container">
    <div id="linetop" class="box"><h3>Restaurant Dashboard</h3></div>

    <div id="orderstat" class="box">

      <div>
        <h5>Orders in process</h5>
      </div>
      <% @orders_in_process.each do |order| %>
      <div>
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="dashboard-order">
                <a class="dash" data-toggle="collapse" href="#collapse-<%=  order.id %>"><span class="words-dashboard">Table <%= order.table.table_number %></span> Order <%= order.number %>
                <%= link_to '<i class="fa fa-arrow-right btn btn-default" style="color: #feb632; font-size:17px"></i>'.html_safe, table_order_delivered_path(order.table, order) %></a>
              </div>
            </div>
            <div id="collapse-<%=  order.id %>" class="panel-collapse collapse">
              <ul class="list-group">
                <% order.orderlines.each do |orderline| %>
                <li class="list-group-item"><%= orderline.item.name %> x <%= orderline.quantity %> </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div id="orderstat" class="box">
      <div>
        <h5>Orders delivered</h5>
      </div>
      <% @orders_delivered.each do |order| %>
      <div>
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="dashboard-order">
                <a class="dash" data-toggle="collapse" href="#collapse-<%=  order.id %>"><span class="words-dashboard">Table <%= order.table.table_number %></span> Order <%= order.number %>
                <%= link_to '<i class="fa fa-arrow-right btn btn-default" style="color: #feb632; font-size:17px"></i>'.html_safe, table_order_paid_path(order.table, order) %>
                </a>
              </div>
            </div>
            <div id="collapse-<%=  order.id %>" class="panel-collapse collapse">
              <ul class="list-group">
                <% order.orderlines.each do |orderline| %>
                <li class="list-group-item"><%= orderline.item.name %> x <%= orderline.quantity %> </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div id="orderstat" class="box">
      <div>
        <h5>Orders paid</h5>
      </div>
      <% @orders_paid.each do |order| %>
      <div>
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="dashboard-order">
                <a class="dash" data-toggle="collapse" href="#collapse-<%=  order.id %>"><span class="words-dashboard">Table <%= order.table.table_number %></span> Order <%= order.number %>  </a>
              </div>
            </div>
            <div id="collapse-<%=  order.id %>" class="panel-collapse collapse">
              <ul class="list-group">
                <% order.orderlines.each do |orderline| %>
                <li class="list-group-item"><%= orderline.item.name %> x <%= orderline.quantity %> </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>


    <div id="linebtm" class="box">

      <%= link_to "Table 1", "" , class: 'btn btn-reset' %>

      <%= link_to "Table 2", "" , class: 'btn btn-reset' %>

      <%= link_to "Table 3", "" , class: 'btn btn-reset' %>

      <%= link_to "Table 4", "" , class: 'btn btn-reset' %>

      <%= link_to "Table 5", "" , class: 'btn btn-reset' %>

      <%= link_to "Table 6", "" , class: 'btn btn-reset' %>

    </div>





  </div>
</body>
