
<style>
#r-button  {
  color: #ce6564;
  border: none;
  background: inherit;
}
</style>

<script> setTimeout(location.reload.bind(location), 30000); </script>

<body>
  <%= render 'shared/sidebar-left' %>
  <%= render 'shared/sidebar-right' %>
  <div id="container">


    <div class="orderstat box">
      <div>
        <h5>Orders in process</h5>
      </div>
      <% @orders_in_process.each do |order| %>
      <div>
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="dashboard-order">
                  <span class="words-dashboard">
                    <% if order.paid  %>
                    <i class="fa fa-check-square-o" style="color: #53ba81" aria-hidden="true"></i>
                    <% else %>
                    <%= link_to '<i class="fa fa-square-o" style="color: #ce6564" aria-hidden="true"></i>'.html_safe, restaurant_table_order_paid_path(@restaurant, order.table, order) %>
                    <% end %>
                  </span>
                <a class="dash" data-toggle="collapse" href="#collapse-<%=  order.id %>">
                  <span class="words-dashboard">
                    Table <%= order.table.table_number %>
                  </span>
                  <span class="words-dashboard">
                    <%= (order.created_at + 60.minutes ).strftime("%H:%M") %>
                  </span>
                <%= humanized_money_with_symbol(order.price_per_order) %>
                <%= link_to '<i class="fa fa-arrow-right btn btn-default" style="color: #feb632; font-size:17px"></i>'.html_safe, restaurant_table_order_delivered_path(@restaurant, order.table, order) %>
                </a>
              </div>
            </div>
            <div id="collapse-<%=  order.id %>" class="panel-collapse collapse">
              <ul class="list-group">
                <% order.orderlines.each do |orderline| %>
                <li class="list-group-item"><%= orderline.quantity %> x <%= orderline.item.name %> - <%= humanized_money_with_symbol(orderline.quantity * orderline.item.price) %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="orderstat box">
      <div>
        <h5>Orders delivered</h5>
      </div>
      <% @orders_delivered.each do |order| %>
      <div>
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="dashboard-order">
                  <span class="words-dashboard">
                    <% if order.paid  %>
                    <i class="fa fa-check-square-o" style="color: #53ba81" aria-hidden="true"></i>
                    <% else %>
                    <%= link_to '<i class="fa fa-square-o" style="color: #ce6564" aria-hidden="true"></i>'.html_safe, restaurant_table_order_paid_path(@restaurant, order.table, order) %>
                    <% end %>
                  </span>
                <a class="dash" data-toggle="collapse" href="#collapse-<%=  order.id %>">
                  <span class="words-dashboard">
                    Table <%= order.table.table_number %>
                  </span>
                  <span class="words-dashboard">
                    <%= (order.created_at + 60.minutes ).strftime("%H:%M") %>
                  </span>
                    <%= humanized_money_with_symbol(order.price_per_order) %>
                </a>
              </div>
            </div>
            <div id="collapse-<%=  order.id %>" class="panel-collapse collapse">
              <ul class="list-group">
                <% order.orderlines.each do |orderline| %>
                <li class="list-group-item"><%= orderline.quantity %> x <%= orderline.item.name %> - <%= humanized_money_with_symbol(orderline.quantity * orderline.item.price) %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>







  </div>
</body>
