<script> setTimeout(location.reload.bind(location), 30000); </script>

<body>
  <div id="container">
    <div id="linetop" class="box"><h3>Restaurant Dashboard</h3></div>

    <div class="orderstat box">

      <div>
        <h5>Orders in process</h5>
      </div>
      <% @orders_in_process.each do |order| %>
      <div>
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="dashboard-order">
                <a class="dash" data-toggle="collapse" href="#collapse-<%=  order.id %>"><span class="words-dashboard">Table <%= order.table.table_number %></span> <span class="words-dashboard">Order <%= order.number %></span>
                  <%= order.price_per_order %>€
                <%= link_to '<i class="fa fa-arrow-right btn btn-default" style="color: #feb632; font-size:17px"></i>'.html_safe, restaurant_table_order_delivered_path(@restaurant, order.table, order) %></a>
              </div>
            </div>
            <div id="collapse-<%=  order.id %>" class="panel-collapse collapse">
              <ul class="list-group">
                <% order.orderlines.each do |orderline| %>
                <li class="list-group-item"><%= orderline.quantity %> x <%= orderline.item.name %> - <%= orderline.quantity * orderline.item.price %> €</li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="orderstat box">
      <div>
        <h5>Orders delivered</h5>
      </div>
      <% @orders_delivered.each do |order| %>
      <div>
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="dashboard-order">
                <a class="dash" data-toggle="collapse" href="#collapse-<%=  order.id %>"><span class="words-dashboard">Table <%= order.table.table_number %></span> <span class="words-dashboard">Order <%= order.number %></span>
                  <%= order.price_per_order %>€
                <%= link_to '<i class="fa fa-arrow-right btn btn-default" style="color: #feb632; font-size:17px"></i>'.html_safe, restaurant_table_order_paid_path(@restaurant, order.table, order) %>
                </a>
              </div>
            </div>
            <div id="collapse-<%=  order.id %>" class="panel-collapse collapse">
              <ul class="list-group">
                <% order.orderlines.each do |orderline| %>
                <li class="list-group-item"><%= orderline.quantity %> x <%= orderline.item.name %> - <%= orderline.quantity * orderline.item.price %> €</li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="orderstat box">
      <div>
        <h5>Orders paid</h5>
      </div>
      <% @orders_paid.each do |order| %>
      <div>
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="dashboard-order">
                <a class="dash" data-toggle="collapse" href="#collapse-<%=  order.id %>"><span class="words-dashboard">Table <%= order.table.table_number %></span> <span class="words-dashboard">Order <%= order.number %></span>
                  <%= order.price_per_order %>€  </a>
              </div>
            </div>
            <div id="collapse-<%=  order.id %>" class="panel-collapse collapse">
              <ul class="list-group">
                <% order.orderlines.each do |orderline| %>
                <li class="list-group-item"><%= orderline.quantity %> x <%= orderline.item.name %> - <%= orderline.quantity * orderline.item.price %> €</li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>


    <div id="linebtm" class="box">
      <% @tables.each do |table| %>
      <%= link_to "Table #{table.table_number}", restaurant_table_orders_path(@restaurant, table) , class: 'btn btn-dashboard' %>
      <% end %>
    </div>

    <div>
      <% if @restaurant.kitchen == false  %>
      <%= link_to "Open kitchen", restaurant_kitchen_path(@restaurant), method: :put, class: "btn btn-back" %>
      <% else %>
      <%= link_to "Close kitchen", restaurant_kitchen_path(@restaurant), method: :put, class: "btn btn-back" %>
      <% end %>
    </div>


  </div>
</body>
