

<div class="banner-homepage" style="background-image: linear-gradient(-225deg, rgba(255, 240, 0, 0.2) 0%, rgba(62, 54, 0, 0.3) 30%), url(<%= image_path "homepage.jpg"%>); background-position: center;">

  <div class="banner-content">
    <h1>Digitalize your restaurant thanks to Chronos</h1>
    <div class="btn btn-homepage">
      Get your digital menu now !
    </div>
  </div>
</div>


<a href="#" class="scroll-down" address="true"></a>
<section class="ok">


  <!-- FEATURES BEGIN -->
  <section id="features" class="img-block-3col">
    <div class="container">
      <div class="title" style="text-align: center;">
        <h2>Key Features</h2>
        <p>Here are some of the features that Chronos has to offer</p>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <ul class="list-unstyled">
            <li>
              <h3><%= image_tag 'widget.png' %> Digital Menu</h3>
              <p style="text-align: justify;">Your customers have now access to the whole menu through any device, we will ensure that your menu meet the highest standards in terms of design and ergonomy.</p>
            </li>
            <li>
              <h3><%= image_tag 'preferences.png' %> Statistics</h3>
              <p style="text-align: justify;">Thanks to all the data gathered, you will be able to get an overview of your restaurant activity to permit a better understanding of your business.</p>
            </li>
            <li>
              <h3><%= image_tag 'award-48.png' %> Entertaining aspect for your customers</h3>
              <p style="text-align: justify;">Enhance your customer's experience with the technology, no app downloading is needed. Everything will be directly available from the browser to ensure an ordering process always quicker.</p>
            </li>
          </ul>
        </div>
        <div class="col-sm-4">
          <%= image_tag 'iphone2.png', class: "iphone" %>
        </div>
        <div class="col-sm-4">
          <ul class="list-unstyled item-list-left item-list-big">
            <li>
              <h3><%= image_tag 'barcode-qr.png' %> Order with a QR-code</h3>
              <p style="text-align: justify;">Streamline the ordering process for you customers by allowing them to access the menu through a scannable QR-code.</p>
            </li>
            <li>
              <h3><%= image_tag 'lock.png' %> Integrated Payment</h3>
              <p style="text-align: justify;">Customers can pay for their orders quickly and safely by card during the process, while retaining the option to pay by cash.</p>
            </li>
            <li>
              <h3><%= image_tag 'diamond.png' %> Focus more on the services that matter</h3>
              <p style="text-align: justify;">Chronos automates the actions with the less added-value, your staff will then be able to focus way more on the activities that are really enhancing your customer's experience.</p>
            </li>
          </ul>
        </div>


      </div>
    </div>
  </section>


  <section>



    <div class="banner2-homepage" style="background-image: linear-gradient(-225deg, rgba(255, 240, 0, 0.2) 0%, rgba(62, 54, 0, 0.3) 30%), url(<%= image_path "wood.jpg"%>); background-position: center;">

      <div class="banner-content">
        <h1 style="margin-left: 100px;">Your whole restaurant at your fingertips</h1>
      </div>
      <div>
        <%= image_tag 'ipad-chronos.png', class: "iphone" %>
      </div>
    </div>



  </section>




















