<div class="container">
  <h2>They decided to trust us and to work with us</h3>
    <ul>
      <% @restaurants.each do |restaurant|%>
      <li>
        <div class="container" style="margin-bottom: 100px">
          <%= restaurant.id %>. <u>Name</u>: <%= restaurant.name %>. <u>Name Address</u>: <%= restaurant.address %>
          <h3>What your client will see</h3>
          <p>See for yourself how it works. If you want to see what your clients will see, click here below</p>
          <%= link_to "go to the tables fot this restaurant", tables_path, class: "btn btn-info" %>
          <h3>your dashboard</h3>
          <p>See for yourself what your dashboard as a restaurant owner will look like</p>
          <%= link_to "go to dashboard for this restaurant", dashboard_path, class: "btn btn-info" %>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
