<% flash.each do |key, value| %>
<div class="alert alert-<%= key %>" style="margin-bottom: 10px"><%= value %></div>
<% end %>


<div class="container">
  <div class="box basket text-center">
    <h2 class="basket-title" >My Order</h2>
    <div class="row">
      <div class="item-order">
        <% @orderlines.each do |orderline| %>
        <div class="confirmation-centered">
          <!-- <div class="item-name"> -->
            <p><strong><%= orderline.quantity %> x</strong> <%= orderline.item.name %></p>
            <p><%= orderline.item.price %> €</p>
            <!--   </div> -->
          </div>
          <% end %>
        </div>
      </div>
      <div class="div price">
        <h5>Total</h5>
        <p> <%= @total_price %> €</p>
      </div>
      <div class="expected-time">
        <p>Thanks for your order!</p>
        <p>You should approximately receive it around <%= @time.strftime("%H:%M") %></p>
      </div>
      <div>
        <%= link_to 'Back to menu', "#{restaurant_table_items_path(@restaurant, @table)}#basket", class: 'btn-back' %>
      </div>
      </div>
    </div>
