<%= render 'shared/browser-tab-title'  %>

<% flash.each do |key, value| %>
<div class="alert alert-<%= key %>" style="margin-bottom: 10px"><%= value %></div>
<% end %>

<div class="box basket text-center">
  <h2 class="basket-title" >My Order</h2>
  <div class="row">
    <div class="item-order">
      <% @orderlines.each do |orderline| %>
      <div class="confirmation-centered">
        <!-- <div class="item-name"> -->
        <p><strong><%= orderline.quantity %> x</strong> <%= orderline.item.name %></p>
        <p style="min-width: 50px; max-width: 50px"><%= humanized_money_with_symbol(orderline.item.price) %></p>
        <!--   </div> -->
      </div>
      <% end %>
    </div>
  </div>

<div class="div price">
  <h6>Subtotal</h6>
  <p><%= humanized_money_with_symbol(@subtotal) %></p>
  <h6>VAT</h6>
  <p><%= humanized_money_with_symbol(@vat) %></p>
  <h5>Total</h5>
  <p><%= humanized_money_with_symbol(@order.amount) %></p>
</div>

<div class="expected-time">
  <p>Thanks for your order!</p>
  <div style="margin-top: -10px;"><i class="fa fa-clock-o fa-4x" aria-hidden="true"></i></div>
  <p class="expected-time-message">You should approximately receive it around <strong> <%= @time.strftime("%H:%M") %></strong></p>
</div>
<div style="margin-bottom: 15px">
  <%= link_to 'Back to menu', "#{restaurant_table_items_path(@restaurant, @table)}#basket", class: 'btn-back' %>
</div>
<!-- <div style="margin-bottom: 15px">
  <%= link_to 'Print ticket', "#{restaurant_table_order_ticket_path(@restaurant, @table, @order)}.pdf", class: 'btn-back' %>
</div> -->
<div class="footer-links">
  <a href="#"><i class="fa fa-instagram"></i></a>
  <a href="#"><i class="fa fa-facebook"></i></a>
</div>
</div>
