<% flash.each do |key, value| %>
<div class="alert alert-<%= key %>" style="margin-bottom: 10px"><%= value %></div>
<% end %>

<div>
  <ul>
    <% @orderlines.each do |orderline| %>
    <li>
      <%= orderline.item.name %>
      price : <%= orderline.item.price %> €
      x <%= orderline.quantity %>
    </li>
    <% end %>
  </ul>
  <%= link_to 'Back to menu', restaurant_table_items_path(@restaurant, @table), class: 'btn-back' %>
</div>
