<%= render 'shared/banner'  %>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <p id="basket"></p>

  <% @categories.each_with_index do |category, index| %>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <div class= "text-center">
          <a class= "btn btn-header" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-<%= index %>" aria-expanded="true" aria-controls="collapseFour">
            <%= category.capitalize %>
          </a>
        </div>
      </h4>
    </div>
    <div id="collapse-<%= index %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
        <div class="item-box">
          <% @items[category.to_s].each do |item|%>
          <div class="item">
            <div class="item-descritption">
              <li>
                <h3><%= item.name %></h3>
                <p><%= item.description %></p>
                <p id="price-menu"><%= item.price%> €</p>
              </li>
            </div>
            <%= simple_form_for [@restaurant, @table, @orderline] do |f| %>
            <%= f.input :item,  :as => :hidden, :input_html => { :value => item.id } %>
            <%= f.button :button do %>
            <i class="fa fa-plus" style="color: #feb632"></i>
            <% end %>
            <% end  %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <% end %>
</div>

<!-- Basket summary -->

<div>
  <% if @quantity != 0 %>
    <%= link_to restaurant_table_basket_summary_path(@restaurant, @table), method: :get, class: "btn btn-info btn-summary", style: 'width:100%' do %>
      <span class="item-number-basket"><%= @quantity%></span>
    <div>
      <span>Check my basket</span>
    </div>
    <div>
      <%= @total_price.to_s + " €" %>
    </div>
    <% end %>
  <% end %>
</div>
