<%= render 'shared/banner'  %>


<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

  <div class="panel panel-default">
    <div class="container text-center" style="background:#1d1f21; color:#ffffff">
      <h2>Your Basket</h2>
      <div class="row">
        <% @order.orderlines.each do |orderline| %>
          <div class="col-xs-6">
            <p style="font-size: 10px"><%= orderline.quantity %> x <%= orderline.item.name %> (<%= orderline.item.price %> €)</p>
          </div>
          <div class="col-xs-6">
            <p><%= link_to '<i class="fa fa-minus" style="color: #feb632; font-size:10px"></i>'.html_safe, table_orderline_path(@table, orderline), method: :delete%></p>
          </div>
        <% end %>
      </div>
      <div class="div">
        <h5>Total price</h5>
        <p><%= @total_price %> €</p>
      </div>
      <%= link_to "pass order", table_order_path(@table, @order), method: :patch, class: 'btn btn-info', style:'margin:20px' %>
    </div>
  </div>

  <div class="panel panel-default">

    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <div class= "text-center">
          <a class= "btn btn-header" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Starters
          </a>
        </div>
      </h4>
    </div>

    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div class="item-box">
          <% @items_starters.each do |item|%>
          <div class="item">
            <div class="item-descritption">
              <li>
                <h3><%= item.name %></h3>
                <p><%= item.description %></p>
                <p id="price"><%= item.price%> €</p>
              </li>
            </div>
              <%= simple_form_for [@table, @orderline] do |f| %>
                <%= f.input :item,  :as => :hidden, :input_html => { :value => item.id } %>
                <%= f.button :button do %>
                  <i class="fa fa-plus" style="color: #feb632"></i>
              <% end %>
              <% end  %>
          </div>
          <% end %>
        </div>
      </div>
    </div>

  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <div class= "text-center">
          <a class= "btn btn-header" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Burgers
          </a>
        </div>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <div class="item-box">
          <% @items_burgers.each do |item|%>
          <div class="item">
            <div class="item-descritption">
              <li>
                <h3><%= item.name %></h3>
                <p><%= item.description %></p>
                <p id="price"><%= item.price%> €</p>
              </li>
            </div>
            <%= simple_form_for [@table, @orderline] do |f| %>
              <%= f.input :item,  :as => :hidden, :input_html => { :value => item.id } %>
              <%= f.button :button do %>
                <i class="fa fa-plus" style="color: #feb632"></i>
            <% end %>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <div class= "text-center">
          <a class= "btn btn-header" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Sides
          </a>
        </div>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <div class="item-box">
          <% @items_sides.each do |item|%>
          <div class="item">
            <div class="item-descritption">
              <li>
                <h3><%= item.name %></h3>
                <p><%= item.description %></p>
                <p id="price"><%= item.price%> €</p>
              </li>
            </div>
            <%= simple_form_for [@table, @orderline] do |f| %>
              <%= f.input :item,  :as => :hidden, :input_html => { :value => item.id } %>
              <%= f.button :button do %>
                <i class="fa fa-plus" style="color: #feb632"></i>
            <% end %>
            <% end  %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <div class= "text-center">
          <a class= "btn btn-header" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
            Drinks
          </a>
        </div>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
        <div class="item-box">
          <% @items_drinks.each do |item|%>
          <div class="item">
            <div class="item-descritption">
              <li>
                <h3><%= item.name %></h3>
                <p><%= item.description %></p>
                <p id="price"><%= item.price%> €</p>
              </li>
            </div>
            <%= simple_form_for [@table, @orderline] do |f| %>
              <%= f.input :item,  :as => :hidden, :input_html => { :value => item.id } %>
              <%= f.button :button do %>
                <i class="fa fa-plus" style="color: #feb632"></i>
            <% end %>
            <% end  %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
