<%= render 'shared/banner'  %>


<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <div class= "text-center">
          <a class= "btn btn-header" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            user guide
          </a>
        </div>
      </h4>
    </div>
    <p>explanation</p>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <div class= "text-center">
          <a class= "btn btn-header" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Starters
          </a>
        </div>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div class="item-box">
          <% @items_starters.each do |item|%>
          <div class="item">
            <div class="item-descritption">
              <li>
                <h3><%= item.name %></h3>
                <p><%= item.description %></p>
                <p id="price"><%= item.price%> €</p>
              </li>
            </div>
            <ul class="list-inline item-list item-links">
              <!-- <li class="item-cancel"><a href="#"><i class="fa fa-times"></i></a></li> -->
              <li class="item-reduce"><a href="#"><i class="fa fa-minus"></i></a></li>
              <li><a href="#"><i class="fa fa-plus"></i></a></li>
            </ul>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <div class= "text-center">
          <a class= "btn btn-header" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Burgers
          </a>
        </div>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <div class="item-box">
          <% @items_burgers.each do |item|%>
          <div class="item">
            <div class="item-descritption">
              <li>
                <h3><%= item.name %></h3>
                <p><%= item.description %></p>
                <p id="price"><%= item.price%> €</p>
              </li>
            </div>
            <ul class="list-inline item-list item-links">
              <!-- <li class="item-cancel"><a href="#"><i class="fa fa-times"></i></a></li> -->
              <li class="item-reduce"><a href="#"><i class="fa fa-minus"></i></a></li>
              <li><a href="#"><i class="fa fa-plus"></i></a></li>
            </ul>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <div class= "text-center">
          <a class= "btn btn-header" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Sides
          </a>
        </div>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <div class="item-box">
          <% @items_sides.each do |item|%>
          <div class="item">
            <div class="item-descritption">
              <li>
                <h3><%= item.name %></h3>
                <p><%= item.description %></p>
                <p id="price"><%= item.price%> €</p>
              </li>
            </div>
            <ul class="list-inline item-list item-links">
              <!-- <li class="item-cancel"><a href="#"><i class="fa fa-times"></i></a></li> -->
              <li class="item-reduce"><a href="#"><i class="fa fa-minus"></i></a></li>
              <li><a href="#"><i class="fa fa-plus"></i></a></li>
            </ul>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <div class= "text-center">
          <a class= "btn btn-header" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
            Drinks
          </a>
        </div>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
        <div class="item-box">
          <% @items_drinks.each do |item|%>
          <div class="item">
            <div class="item-descritption">
              <li>
                <h3><%= item.name %></h3>
                <p><%= item.description %></p>
                <p id="price"><%= item.price%> €</p>
              </li>
            </div>
            <ul class="list-inline item-list item-links">
              <!-- <li class="item-cancel"><a href="#"><i class="fa fa-times"></i></a></li> -->
              <li class="item-reduce"><a href="#"><i class="fa fa-minus"></i></a></li>
              <li><a href="#"><i class="fa fa-plus"></i></a></li>
            </ul>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
