<%= render 'shared/banner'  %>


<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <div class= "text-center">
          <a class= "btn btn-header" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Starters
          </a>
        </div>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <div class= "text-center">
          <a class= "btn btn-header" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Burgers
          </a>
        </div>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <div class= "text-center">
          <a class= "btn btn-header" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Sides
          </a>
        </div>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <div class= "text-center">
          <a class= "btn btn-header" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
            Drinks
          </a>
        </div>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>

<!-- My work below this line, Alex's work above -->
<div class="container">
  <h2>Digital menu</h2>
    <h3>Starters</h3>
      <div class="item-box">
        <% @items.each do |item|%>
        <div class="item">
          <div class="item-descritption">
            <li>
              <h3><%= item.name %></h3>
              <p><%= item.description %></p>
              <p id="price"><%= item.price%> €</p>
            </li>
          </div>
          <ul class="list-inline item-list item-links">
            <!-- <li class="item-cancel"><a href="#"><i class="fa fa-times"></i></a></li> -->
            <li class="item-reduce"><a href="#"><i class="fa fa-minus"></i></a></li>
            <li><a href="#"><i class="fa fa-plus"></i></a></li>
          </ul>
        </div>
        <% end %>
      </div>
      <h3>Burgers</h3>
      <div class="item-box">
        <% @items.each do |item|%>
        <div class="item">
          <div class="item-descritption">
            <li>
              <h3><%= item.name %></h3>
              <p><%= item.description %></p>
              <p id="price"><%= item.price%> €</p>
            </li>
          </div>
          <ul class="list-inline item-list item-links">
            <!-- <li class="item-cancel"><a href="#"><i class="fa fa-times"></i></a></li> -->
            <li class="item-reduce"><a href="#"><i class="fa fa-minus"></i></a></li>
            <li><a href="#"><i class="fa fa-plus"></i></a></li>
          </ul>
        </div>
        <% end %>
      </div>
      <h3>Sides</h3>
      <div class="item-box">
        <% @items.each do |item|%>
        <div class="item">
          <div class="item-descritption">
            <li>
              <h3><%= item.name %></h3>
              <p><%= item.description %></p>
              <p id="price"><%= item.price%> €</p>
            </li>
          </div>
          <ul class="list-inline item-list item-links">
            <!-- <li class="item-cancel"><a href="#"><i class="fa fa-times"></i></a></li> -->
            <li class="item-reduce"><a href="#"><i class="fa fa-minus"></i></a></li>
            <li><a href="#"><i class="fa fa-plus"></i></a></li>
          </ul>
        </div>
        <% end %>
      </div>
      <h3>Drinks</h3>
      <div class="item-box">
        <% @items.each do |item|%>
        <div class="item">
          <div class="item-descritption">
            <li>
              <h3><%= item.name %></h3>
              <p><%= item.description %></p>
              <p id="price"><%= item.price%> €</p>
            </li>
          </div>
          <ul class="list-inline item-list item-links">
            <!-- <li class="item-cancel"><a href="#"><i class="fa fa-times"></i></a></li> -->
            <li class="item-reduce"><a href="#"><i class="fa fa-minus"></i></a></li>
            <li><a href="#"><i class="fa fa-plus"></i></a></li>
          </ul>
        </div>
        <% end %>
</div>
  </div>

